# General Java & Spring Boot
target/
*.class
*.log
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Package Files
*.jar
*.war
*.zip

# Project Data (Optional: ignore your local data files if they contain private info)
# data/*.txt
pom.xml
